.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  background: rgba(0, 0, 0, 0.1);
}

.textfield {
  z-index:1;
  left:0;
  right:0;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  width: 40%;
  height: 60px;
  text-align: center;
  background-color: rgba(47, 45, 44, 0.051);
  color: white;
  top: 15px;
  border-radius: 5px;
}

.main-button {
  z-index:1;
  left:0;
  right:0;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 90px;
  width: 120px;
  height: 30px;
  border-radius: 5px;
  background-color: #11111117;
  color: aliceblue;
  font-weight: bold;
}
